@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
  font-family: 'Goudy Old Style';
  font-style: normal;
  font-weight: normal;
  src: local('Goudy Old Style'), url('fonts/GOUDOS.woff') format('woff');
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: grid;
}

body {
  grid-template-rows: 2em 8em 3em auto;
  grid-template-columns: auto;
  background: var(--brblack);
  color: var(--white);
}

#watchlist {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  align-items: fill;
  flex-direction: column;
}

#header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  align-items: center;
  justify-content: center;
  padding-top: 0.3em;
  font-size: 3em;
  font-family: 'Goudy Old Style';
  display: grid;
  grid-template-rows: 1em auto;
}

#header-name {
  user-select: none;
  text-align: center;
  border-bottom: 1px solid black;
  padding-left: 3em;
  padding-right: 3em;
}

#navigation-bar {
  padding-top: 0.3em;
  font-size: 0.33em;
  font-family: 'Goudy Old Style';
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

#navigation-bar > span {
  text-align: center;
  cursor: pointer;
}

#header-bar {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  grid-template-rows: 2em;
  grid-template-columns: auto auto auto auto auto auto;
}

#header-bar > span {
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#header-bar > span > span {
  margin: 2px;
}

#security-bar {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: flex;
  align-items: flex-end;
}

#exchange {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  min-width: 25%;
  min-height: 75%;
}

#exchange-button {
  display: flex;
  align-items: center;
  width: 1.7em;
  height: 1.7em;
}

#exchange-logo {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 5px 0px 0px 0px;
  border: 1px solid #1a1a1a;
  background: #000;
}

#exchange-logo > img {
  margin-left: 0.5em;
}

#exchange-logo > img:nth-child(1) {
  width: 1em;
  height: 1em;
}

#exchange-logo > img:nth-child(2) {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

#exchange-text {
  display: flex;
  flex-grow: 1;
  border-top: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  border-radius: 0px 5px 0px 0px;
  align-self: stretch;
}

#exchange-text > input {
  font-size: 1em;
  border-style: none;
  outline: none;
  display: flex;
  flex-grow: 1;
  padding-left: 1em;
  border-radius: 0px 5px 5px 0px;
  align-self: stretch;
  font-family: 'Inconsolata', monospace;
  padding-right: 1em;
}

#exchange-exchange {
  margin-left: 0.7em;
  width: 4em;
}

#exchange-logo > span {
  align-self: stretch;
  border-left: 1px solid gray;
}

#exchange-security {
  margin-left: calc(0.3em + 5px);
  margin-right: 5px;
  width: 4em;
}

#options {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto;
}

#options > span {
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid gray;
}

#options > span:last-child {
  margin-right: 0px !important;
  padding-right: 10px;
  border-right: 1px solid gray;
}

#dash {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: calc(100% - 2em) auto;
}

#chart {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

#chart-drawable {
  width: 100%;
  height: 100%;
}

#feed {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  border-top: 1px solid #1a1a1a;
}

#alerts {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
